<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tela de Login</title>
  <link rel="stylesheet" href="login.component.css">
</head>

<body>
  <div class="img-container" style="margin-top: 15px;">
    <img src="../../../assets/images/logo.png" alt="Logo Agrestina">
  </div>
  <div class="login-container">
    <h2>Login</h2>
    <form (submit)="loginMethod($event)">
      <input type="text" placeholder="Usuário" #username required (input)="validate()">
      <input type="password" placeholder="Senha" #password required (input)="validate()">
      <button type="submit">Entrar</button>
    </form>
  </div>

  <footer class="footer-container">
    <label>© 2024 <span>AGRESTINA</span>. Todos os direitos reservados.</label>
  </footer>
</body>

</html>
